<launch>
  <node name="flashgo_node"  pkg="flashgo"  type="flashgo_node" output="screen">
    <param name="port"         type="string" value="/dev/serial/by-id/usb-STMicroelectronics_STM32_Virtual_ComPort_00000000001A-if00"/>  
    <param name="baudrate"     type="int"    value="115200"/>
    <param name="frame_id"     type="string" value="laser_frame"/>
    <param name="angle_fixed"  type="bool"   value="true"/>
    <param name="angle_min"    type="double" value="-180" />
    <param name="angle_max"    type="double" value="180" />
    <param name="ignore_array" type="string" value="-175,-160,-85,-60,5,20,95,110" />
  </node>
  <node pkg="tf" type="static_transform_publisher" name="laser_frame_to_base_footprint" args="0.0 0.0 0.2 2.62 -3.14 0.0 /base_footprint /laser_frame 40" />
</launch>
