<launch>  
   <node pkg="tf" type="static_transform_publisher" name="uwbtfbroadcaster1" args="2.7 1.13 1.2 0 0 0 1 map 1 100" />
   <node pkg="tf" type="static_transform_publisher" name="uwbtfbroadcaster2" args="5.55 1.13 1.2 0 0 0 1 map 2 100" />
   <node pkg="tf" type="static_transform_publisher" name="uwbtfbroadcaster3" args="2.72 4.07 1.2 0 0 0 1 map 3 100" />
</launch>
  
  
